<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objectId</key>
		<string>RMCategory_01</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Medicine</string>
		<key>icon</key>
		<string>medicine-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_02</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Sport</string>
		<key>icon</key>
		<string>sport-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_03</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Internet</string>
		<key>icon</key>
		<string>internet-cion</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_04</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Phone</string>
		<key>icon</key>
		<string>phone-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_05</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Transportation</string>
		<key>icon</key>
		<string>transport-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_06</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Salary</string>
		<key>icon</key>
		<string>salary-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_07</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Income</string>
		<key>icon</key>
		<string>income-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_08</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Entertament</string>
		<key>icon</key>
		<string>entertament-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_09</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Charity</string>
		<key>icon</key>
		<string>charity-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_10</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Insurance</string>
		<key>icon</key>
		<string>insurance-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_11</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Gas</string>
		<key>icon</key>
		<string>gas-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_12</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Saving</string>
		<key>icon</key>
		<string>saving-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_13</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Study</string>
		<key>icon</key>
		<string>study-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_14</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Unity</string>
		<key>icon</key>
		<string>unity-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_15</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Friend</string>
		<key>icon</key>
		<string>friend-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_16</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Eating &amp; Drinking</string>
		<key>icon</key>
		<string>eat-drink-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_17</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Electricity &amp; Water</string>
		<key>icon</key>
		<string>elictric-water-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_18</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>House/Rent</string>
		<key>icon</key>
		<string>house-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_19</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Clothing</string>
		<key>icon</key>
		<string>clothing-icon</string>
	</dict>
	<dict>
		<key>objectId</key>
		<string>RMCategory_20</string>
		<key>vnName</key>
		<string></string>
		<key>enName</key>
		<string>Food</string>
		<key>icon</key>
		<string>food-icon</string>
	</dict>
</array>
</plist>
